*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
    text-decoration:none;

}
body {
    background-color: #353839;
  }
 #lo{
    width: 110px;
    height: 110px;
    position: absolute;
    top: 15px;
    left: 90px;
    transform: translate(10%, 10%);  
 }

 UL{
    display: flex;
    list-style-type: none;
    gap: 50PX;
    justify-content:center;
    padding-top: 65px;
    color: rgb(135, 143, 151);
 }
 a{
    color: rgb(135, 143, 151);
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

 }
 ul li a:hover{
    transform: scale(0.8);
     text-shadow: none;
     color: white;
    }
   .info{
      margin-left: 12%;
      margin-top: 12%;
     

   }
   .info h1{
      font-size: 50px;
      color: whitesmoke;
      margin-bottom: 8px;
   }
   span{
      color: coral;
   }
   .info p{
      color:whitesmoke;
      line-height: 20px;
      font-size: 18px;
   }
   .info a{
   padding: 9px 18px;
   text-decoration: none;
   color: coral;   
    display: inline-block;
    margin:20px 0 ;
    border-radius: 5px;
     border: 5px solid;
   }

   /* .search {
      position: absolute;
      display:flex;
      left: 70%;
      top: 55px;
      
      }
    
    
    .search input  {
      background: #434546;
      padding: 15px 12px;
      height: 37px;
      border-radius:12px;
      font-size: 15px;
      text-align:left;
      border:none;
      color: whitesmoke;
    }

    .search img {
      width: 22px;
      position: absolute;
     left: 83%;
      top: 7px;
      border: none;
      }
  

    .search img {
      width: 22px;
      position: absolute;
     left: 83%;
      top: 7px;
      } */

   .img-box{
      width: 45%;
      height: 80%;
      position: absolute;
      bottom: 0;
      right: 100px;

   }
   .img-box img{
      height: 110%;
      position: absolute;
      left: 30%;
      width: 75%;
      bottom: 0;
      opacity: 1;
   } 
  
   .social {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 2rem;
      position: absolute;
      top: 280px;
      right:30px;

      }

  .social p{
      color: coral;
      writing-mode: vertical-rl; 
      margin-bottom: 10px;
     
   }

   .social a img{
      width: 40px;
      height: 40px;
      /* margin-left: auto;  */
    margin-bottom: 5px;
     
   } 
   .about {
      padding: 170px;
      
  } 
  .about h1.About {
   font-size: 35px; 
   color: whitesmoke; 
  }    
  .about p {
   position: absolute;
   font-size: 16px; 
   color: whitesmoke; 
   line-height: 1.2; 
   padding-left: 50px;
   padding-top: 10px;
   
}

.skill{
      color: whitesmoke;
     position:absolute;
     text-align: center;
     margin-left: 50%;
     margin-top:0;

      }
.flex-box{
   display: flex;
   justify-content:center; 
    align-items: center; 
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left:  170px;
    margin-right:150px;
  }


.box {
   position: relative;
   width: 170px;
   height: 170px; 
   background-color: #434546; 
   border: 2px solid #333; 
   border-radius: 10px; 
   text-align: center; 
   line-height: 200px; 
   font-size: 17px;
   margin: 10px;
   color: whitesmoke;
  transition: transform .2s;
   
}

.box img {
   position: absolute;
   max-width: 60%; 
   max-height: 60%; 
   display:block; 
   margin:auto; 
   margin-left: 35px;

}

.box h2{
   position: absolute; 
    
    left: 50%; 
    transform: translateX(-50%); 
    color:whitesmoke; 
    font-size: 15px;
    top: 15%;
   }
   .box:hover{
      -ms-transform: scale(0.0); 
      -webkit-transform: scale(.0); 
      transform:scale(1.1); 
      }


.box1{
   position: relative;
   width: 170px;
   height: 170px; 
   background-color: #434546; 
   border: 2px solid #333; 
   border-radius: 10px; 
   text-align: center; 
   line-height: 200px; 
   font-size: 17px;
   margin: 10px;
   color: whitesmoke;
   transition: transform .2s;
}
.box1 img{
   position: absolute;
   max-width: 60%; 
   max-height: 60%; 
   display:block; 
   margin-top: 30px;
   margin-left: 35px;
  
}
.box1:hover{
   -ms-transform: scale(0.0); 
   -webkit-transform: scale(.0); 
   transform:scale(1.1); 
   }


.box2{
   position: relative;
   width: 170px;
   height: 170px; 
   background-color: #434546; 
   border: 2px solid #333; 
   border-radius: 10px; 
   text-align: center; 
   line-height: 200px; 
   font-size: 17px;
   margin: 10px;
   color: whitesmoke;
   transition: transform .2s;
}
.box2 img{
   position: absolute;
   max-width: 60%; 
   max-height: 60%; 
   display:block; 
 margin-top: 30px;
   margin-left: 35px;
}
.box2:hover{
   -ms-transform: scale(0.0); 
   -webkit-transform: scale(.0); 
   transform:scale(1.1); 
   }

.box3{
   position: relative;
   width: 170px;
   height: 170px; 
   background-color: #434546; 
   border: 2px solid #333; 
   border-radius: 10px; 
   text-align: center; 
   line-height: 200px; 
   font-size: 17px;
   margin: 10px;
   color: whitesmoke;
   transition: transform .2s;
}
.box3 img{
   position: absolute;
   max-width: 30%; 
   max-height: 30%; 
   display:block; 
   margin-top: 30px;
   margin-left: 55px;
}
.box3:hover{
   -ms-transform: scale(0.0); 
   -webkit-transform: scale(.0); 
   transform:scale(1.1); 
   }

.box4{
   position: relative;
   width: 170px;
   height: 170px; 
   background-color: #434546; 
   border: 2px solid #333; 
   border-radius: 10px; 
   text-align: center; 
   line-height: 200px; 
   font-size: 17px;
   margin: 10px;
   color: whitesmoke;
   transition: transform .2s;
}
.box4 img{
   position: absolute;
   max-width: 30%; 
   max-height: 30%; 
   display:block; 
 margin-top: 30px;
   margin-left: 60px;
}
.box4:hover{
   -ms-transform: scale(0.0); 
   -webkit-transform: scale(.0); 
   transform:scale(1.1); 
   }

.box5{
   position: relative;
   width: 170px;
   height: 170px; 
   background-color: #434546; 
   border: 2px solid #333; 
   border-radius: 10px; 
   text-align: center; 
   line-height: 200px; 
   font-size: 17px;
   margin: 10px;
   color: whitesmoke;
   transition: transform .2s;
}
.box5 img{
   position: absolute;
   max-width: 60%; 
   max-height: 60%; 
   display:block; 
   margin-top: 10px;
   margin-left: 35px;
}
.box5:hover{
   -ms-transform: scale(0.0); 
   -webkit-transform: scale(.0); 
   transform:scale(1.1); 
   }

.box6{
   position: relative;
   width: 170px;
   height: 170px; 
   background-color: #434546; 
   border: 2px solid #333; 
   border-radius: 10px; 
   text-align: center; 
   line-height: 200px; 
   font-size: 17px;
   margin: 10px;
   color: whitesmoke;
   transition: transform .2s;
}
.box6 img{
   position: absolute;
   max-width: 35%; 
   max-height: 35%; 
   display:block; 
   margin-top: 30px; 
   margin-left: 55px;
}
.box6:hover{
   -ms-transform: scale(0.0); 
   -webkit-transform: scale(.0); 
   transform:scale(1.1); 
   }

.box7{
   position: relative;
   width: 170px;
   height: 170px; 
   background-color: #434546; 
   border: 2px solid #333; 
   border-radius: 10px; 
   text-align: center; 
   line-height: 200px; 
   font-size: 17px;
   margin: 10px;
   color: whitesmoke;
   transition: transform .2s;
}
.box7 img{
   position: absolute;
   max-width: 35%; 
   max-height: 35%; 
   display:block; 
   margin-top: 30px; 
   margin-left: 55px;
}
.box7:hover{
   -ms-transform: scale(0.0); 
   -webkit-transform: scale(.0); 
   transform:scale(1.1); 
   
}


@media screen and (max-width: 600px)
{
   #lo{
      width: 110px;
      height: 110px;
      position: absolute;
      top: 10px;
      left: 20px;
      transform: translate(10%, 10%);  
   }
   ul {
      content: url('icon/home1.png'); /* Path to your home icon for mobile */
   
      width: 100px;
      height: 150px;
      color: whitesmoke;
     margin-left: 80%;
     top:40px;

  }


}

